<footer class="footer">
    <div class="footer-container">
      <div class="footer-section links">
        <h3>Quick Links</h3>
        <ul>
          <li><a routerLink="/about">About Me</a></li>
          <li><a routerLink="/terms">Terms of Service</a></li>
        </ul>
      </div>
      <div class="footer-section contact">
        <h3>Contact Us</h3>
        <ul>
          <li>Email: anshitraj77&#64;gmail.com</li>
          <li>Phone: +91 8126714539</li>
        </ul>
      </div>
      <div class="footer-section social">
        <h3>Movie edits on instagram</h3>
        <a href="#" routerLink="https://www.instagram.com/gy.who.edits/profilecard/?igsh=MWEyMnl3cG9kdno1cQ=="class="social-icon"><i class="fab fa-instagram" (click)="insta()"></i></a>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2024 filmreview | All Rights Reserved
    </div>
  </footer>
  