.signup-container {
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    height: 100vh;
    background-color: #f8f9fa; /* Light background color */
    margin-bottom: 30px;
    background-image: url('src\assets\sfightclub.jpg'); /* Update with the correct path to your image */
    background-size: cover; /* Make the background image cover the entire container */
    background-position: center; /* Center the background image */
    min-height: 100vh; /* Ensure it covers the full height of the viewport */
    
    
  }
  
  .signup-form {
    max-width: 400px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: left;
    background-color: #ffffff; /* Background color of the form */
    border-radius: 8px; /* Rounded corners */
    padding: 2rem; /* Add padding */
    margin-left: 20px; /* Add some left margin for spacing */
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    max-height:max-content;
  }
  
  .card {
    border: none;
    padding: 2rem;
  }
  
  .form-label {
    font-weight: bold;
    color: #343a40;
  }
  
  .form-control {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .text-center {
    font-size: 1rem;
    color: #6c757d;
  }
  
  .alert {
    max-width: 400px;
    margin: 0 auto;
  }
  
  p a {
    text-decoration: none;
    color: #007bff;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  .success-snackbar {
    background-color: #4caf50;
    color: #fff;
    text-align: center;
  }
  
  .error-snackbar {
    background-color: #f44336;
    color: #fff;
    text-align: center;
  }
  